<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles.css"> 
    <link rel="icon" href="./../resources/favicon.svg" type="image/svg+xml">

    <!-- Google Inter Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap" rel="stylesheet">

    <!-- Banner Image (SVG) -->
    <svg width="100%" height="300px" xmlns="http://www.w3.org/2000/svg">
      <rect rx="50" ry="50" width="100%" height="100%" fill="salmon" />
      <rect rx="50" ry="50" width="55%" height="100%" fill="pink" />
      <rect x=10% width="75%" height="100%" fill="pink" />
      <rect width="75%" height="85%" fill="orange"  stroke="black"/>
      <rect x=1 width="85%" height="10%" fill="salmon" stroke="pink"/>
      <circle cx="35%" cy="70%" r="75" fill="purple" stroke="pink" />
      <polygon points="540,100 480,135 470,170 525,230 610,200 590,135" fill="beige" stroke="orange" />
      <circle cx="45%" cy="55%" r="40" fill="purple" stroke="pink" />
      <circle cx="60%" cy="80%" r="30" fill="purple" stroke="pink" />
      <circle cx="57%" cy="74%" r="25" fill="transparent" stroke="salmon" />
      <circle cx="100%" cy="100%" r="105" fill="beige" stroke="black" />
      <circle cx="100%" cy="100%" r="50" fill="orange" stroke="purple" />
      <polygon points="120,10 240,225 10,225" fill="pink" stroke="purple"/>
      <text x="50" y="100" font-family="Verdana" font-size="55"
          fill="white" stroke="black" stroke-width="2"> My First Banner
      </text>
    </svg>

    <!-- Navigation Menu -->
    <nav class="menue">
        <ul>
          <li><a href="./../index.html"> Home </a></li>
          <li><a href="./two.html"> Page Two</a></li>
          <li><a href="./three.html"> Page Three</a></li>
        </ul>
    </nav>
</head>

<body>
    <h1> SVG Animation is easy! </h1>

    <!-- SVG animation -->
    <img src="./../resources/page-three.svg" 
    alt="SVG Animation of a small red circle moving around a square">

    <h2> Optional personal SVG artwork </h2>

    <p>Just playing around a little.</p>

    <img src="./../resources/optional-animation.svg" 
    alt="Another SVG Animation">

    <footer>
      <p>&copy; 2024 Isabel Schweim. All rights reserved.</p>
      <p>For CSC 317 at San Francisco State University</p>
      <a href="https://github.com/isabelschweim" target="_blank">GitHub</a>
      <a href="https://github.com/isabelschweim/csc317-multipage_static_website" target="_blank">Project</a>
    </footer>

</body>
</html>