<!doctype html>
<html lang="en-US">

<!-- Banner image -->

<!-- Navigation Menu -->
<nav class="menue">
    <ul>
      <li><a href="./../index.html"> Home </a></li>
      <li><a href="./two.html"> Page Two</a></li>
      <li><a href="./three.html"> Page Three</a></li>
    </ul>
</nav>

<h1> Favorite Coding Resources </h1>

<table>
    <tr>
        <th> Coding Resource </th>
        <th> Link </th>
    </tr>
    <tr>
        <td> Mozilla Developer Network </td>
        <td><a href="https://developer.mozilla.org/en-US/docs/Web"> https://developer.mozilla.org/en-US/docs/Web </a> </td>
    </tr>
    <tr>
        <td> DigitalOcean Tutorials	</td>
        <td><a href="https://www.digitalocean.com/community/tutorials"> https://www.digitalocean.com/community/tutorials </a> </td>
    </tr>
    <tr>
        <td> Stack Overflow</td>
        <td><a href="https://stackoverflow.com"> https://stackoverflow.com </a></td>
    </tr>
</table>

</html>